<div id="main-container">
  <h1>Yet Another Contact List App</h1>
  
  <div id="ui-button-container">
    <button id="btn-new-contact">Make New Contact</button>
    <button id="btn-show-all-contacts">Show All Contacts</button>
    <button id="btn-show-contact-by-id">Show Contact by ID</button>
    <button id="btn-search-contacts">Search Contacts</button>
  </div>

  <div id="new-contact-container" class="start-hidden">
    <label>First Name</label><br>
    <input type="text" class="new-contact-input" name="first_name" id="first-name"></input><br>
    <label>Last Name</label><br>
    <input type="text" class="new-contact-input" name="last_name" id="last-name"></input><br>
    <label>Email Address</label><br>
    <input type="text" class="new-contact-input" name="email" id="email"></input><br>
    <button id="btn-new-contact-submit">Submit</button><br>
    <div id="new-contact-result"></div>
  </div>

  <div id="show-all-contacts-container" class="start-hidden">
  </div>

  <div id="show-contact-by-id-container" class="start-hidden">
    <div id="show-contact-by-id-prompt">
      <label>ID to Show</label><br>
      <input id="id-to-show"></input><br>
      <button id="btn-id-to-show">Show ID</button>
    </div>
    <div id="show-contact-by-id-results">
    </div>
  </div>

  <div id="search-contacts-container" class="start-hidden">
    <div id="search-contacts-prompt">
      <label>Search</label><br>
      <input id="search-contacts-string"></input>
      <button id="btn-search-contacts-submit">Search</button>
    </div>
    <div id="search-contacts-results">
    </div>
  </div>
  
</div>