<div id="main-container">
  <h1>Yet Another Contact List App (YACLA)</h1>
  <div class="new-contact">
    <p>Make a New Contact</p>
    <form>
      <label>First Name</label><br>
      <input type="text" class="contact-input" name="first_name" id="first-name"></input><br><br>
      <label>Last Name</label><br>
      <input type="text" class="contact-input" name="last_name" id="last-name"></input><br><br>
      <label>Email Address</label><br>
      <input type="text" class="contact-input" name="email" id="email"></input><br><br>
      <button type="submit" name="submit" id="submit">Submit</button><br><br>
    </form>
  </div>
  <hr>
  <div id="contact-list">
    <div class="contact-list-entry">
      Entry
    </div>
  </div>
</div>